/*Définition des polices personnalisées*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/*Style principaux de la page*/

body {
    margin: 0;
    font-size: 16px;
    font-family: Raleway, sans-serif; 
}
*
{
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
 
.catch_phrase {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

/*Navigation*/

header {
    width: 100%;
}

#nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: flex;
    align-items: flex-end;
}

#logo img {
    width: 100px;
    height: 45px;
    margin-bottom: 30px;
}

.logo_txt {
    padding-left: 50px;
}

ul {
    display: flex;
}

#nav_bar nav ul li {
    list-style-type: none;
    padding: 20px;
}

.nav_link a {
    text-decoration: none;
    color: black;
}

#menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_link a:hover {
    color: #0065FC;
}

.nav_link {
    border-top: 3px solid #fff;
    padding-top: 50px;
}

.nav_link:hover {
    border-top: 3px solid #0065FC;
}

.nav_link:focus {
    border-top: 3px solid #0065FC;
}

.sign_up {
    display: flex;
    align-items: center;
}

.sign_up a
{
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
}

#main_container {
    max-width: 100%;
}

/* Intro */ 

#intro {
    padding-left: 50px;
}

.catch_phrase {
    margin-bottom: 10px;
    margin-top: 0px;
}

/*Barre de recherche*/

.search_form {
   display: inline-flex;
   max-width: 100%;
   overflow: auto;
}

.marker_icon {
    background-color: #F2F2F2;
    padding: 16px 20px;
    border-radius: 16px 0 0 16px;
    text-align: center;
}

.search_icon {
    display: none;
}

.search_form_button {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 16px 16px 0;
    padding: 0 24px;
    font-family: "Raleway", "Sans serif";
    font-size: 16px;
    cursor: pointer;    
}

input {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 24px;
    box-sizing: border-box;
    width: 220px;
    font-size: 16px;
    font-weight: bold;
    font-family: Raleway, "Sans serif";
}

/*Filtres de recherches*/ 

#search_filters {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    padding-left: 50px;
}

.search_filters_title {
    display: flex;
    align-items: center;
    margin: 0 32px 16px 0;
}

.search_filter {
    display: flex;
    align-items: center;
    margin-right: 32px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    margin-bottom: 16px;
    padding-right: 20px;
    cursor: pointer;
    font-weight: bold;
}

.search_filter_text {
    padding-left: 18px;
}


.search_filter:hover {
    color: white;
    background-color: #0065FC;
    transition: all 0.5s;    
}

.search_filter_icon {
    display: flex;
    color: #0065FC;  
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    min-height: 56px;
    min-width: 56px;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

/*Information*/

#information {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 50px;
}
  
.info_icon {
    color: #0065FC;  
    height: 32px;
    width: 32px;
    min-height: 32px;
    min-width: 32px;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;  
}

/*Hébergements*/

#hostings, #most_popular {
    background-color: #F2F2F2;
    border-radius: 24px;
    padding: 28px;
}

#container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
}

#hostings {
    background: #F2F2F2;
    border-radius: 22px;
    width: 960px;
}

#hosting_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.hosting_header {
    font-weight: bold;
    font-size: 1em;
    padding: 20px;
}

.hosting_card {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%; 
}

.hosting_card p, .hosting_card h3 {
    margin: 5px;
}


.hosting_card:hover {
    transform: scale(1.02);
}

.hosting_card_choice {
    margin: 0;
    background: #ffffff;
    border: 6px solid #ffffff;
    border-radius: 20px;
    box-shadow: 4px 4px 6px #d9d9d9;
    width: 280px;
    height: 200px;
}

.hosting_card_choice_img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 105px;    
}

.hosting_card_choice_title {
    font-weight: bold;
}

.price {
    font-weight: bold;
}

.fa-star {
    color: #0065FC;
    padding-left: 5px;

}

.fa-star.grey {
    color:#d9d9d9;
}     

.view_more {
    font-weight: bold;
}

/*Most Popular hostings*/


#most_popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F2F2F2;
    border-radius: 22px;
    float: right;
    width: 460px;
    height: auto;
}


.most_popular_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.most_popular_choice_title_long {
    margin: 5px 0;
}

.most_popular_choice {
    display: flex;
    background: white;
    border: 4px solid white;
    border-radius: 20px;
    box-shadow: 4px 4px 6px #d9d9d9;
    margin: 26px 20px;
    transition-duration:  0.1s;
}

.most_popular_choice:hover {
    transform: scale(1.02);        
}

.most_popular_choice_img {
    width: 128px;
    height: 128px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    object-fit: cover;
}

.most_popular_choice_info {
    padding-left: 5px;
}

/*Activités*/

#activities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;    
}   

#activities_block {
    display: flex;
    justify-content: space-around;
}

.activity_choice {
    box-shadow: 0px 0px 20px #0000002e;
    border-radius: 16px;
    overflow: hidden;
    flex-direction: column;
    box-sizing: border-box;
}

.activity_choice_img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    object-fit: cover;
    width: 300px;
    margin: auto;
}

.activity_choice_img:hover {
    transform: scale(1.01);
    opacity: 0.7;
    transition-duration: 0.500s;
}

.activity_1 img, .activity_4 img {
    height: 400px;
}

.activity_2 img {
    height: 180px; 
}

.activity_3 img {
    height: 120px;
}

.activity_5 img {
    height: 140px;    
}

.activity_6 img {
    height: 160px;    
}

.activity_2 {
    padding-bottom: 14px;   
}

.activity_5 {
    padding-bottom: 14px;    
}

.activity_title {
    margin: 15px 20px;
}

/*Footer*/

#footer {
   margin-top: 40px;
   background: #F2F2F2;
   display: -o-flexblox;
   display: -ms-flexbox;
   display: flex;
   width: 100%;
 }
.footer {
    display: -o-flexblox;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 50%;
}

.footer a:hover {
    color: #0065FC;
}

.footer h4
{
    font-weight: bold;
}

/*                                                              MEDIA QUERIES                                                               */

@media screen and (max-width: 768px) {
    
    body {
        width: 100%; 
        padding-top: 15px;
        overflow-x: hidden;        
    }
        
    #header {
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin: 0;
        width: 100%;        
    }
        
    #logo {
        display: flex;
        align-content: flex-start; 
        padding-top: 10px;       
    }
    
    .logo_txt {  
        margin: 0;
        width: 50%;
        position: absolute;
        padding-left: 15px;
    }

    #menu, #nav_bar {
        width: 100%;
    }

    #menu {
        display: flex;
        justify-content: flex-end;
        flex-flow: row wrap;
    }

    .sign_up {
        order: -2;
        display: flex;
        padding-top: 20px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding-top: 30px;
    }

    nav ul {
        padding: 0;
        border-bottom: 2px solid #F2F2F2;
        width: 100%;
        padding-bottom: 15px;
    }

    li {
        text-align: center;
        flex-basis: 50%;
    }

    li:hover {
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    li:focus {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    #main_container {
        padding-top: 40px;
    }

    #intro {
        padding-left: 15px;
        margin: 0;
    }

    #search_filters {
        padding-left: 15px;
    }

    .search_filter {
        margin-bottom: 10px;
    }


    .search_form_button {
        display: none;
    }
        
    .search_icon {
        background: #0065FC;
        border: 14px solid #0065FC;
        border-radius: 10px;
        display: flex;
    }
    
    .fa-search {
        color: #ffffff;
    }

    
    #information {
        padding-left: 15px;
    }
    
    #container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
        
    #most_popular {
        order: -1;
        padding: 0;
        border-radius: 0;
        margin: 0;
        width: 100%;          
    }
        
    #most_popular_block {
        width: 100%;
    }    
    
    .most_popular_header {
        padding-left: 15px;
    }    

    #hostings {
        display: flex;
        flex-direction: column;
        background: none;
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;  
    }
  
    #hosting_block {
        display: flex;
        background: none;    
    }

    .hosting_title {
        padding-left: 15px;
        padding-top: 20px;
    }
    
    .view_more {
        padding-left: 15px;
    }
  
    #activities {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
  
    #activities_block {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .activities_title {
        padding-left: 15px;
     }

    .activity_choice {
        margin: 10px;
    }
    
    .activity_choice_img {
        object-fit: cover;
        width: 100%;
        height: 200px;    
    }
    
    .activity_1, .activity_3, .activity_4{
        padding-bottom: 15px;
    }
    
    .activity_1 img {
        height: 140px;
    }
    
    .activity_2_and_3 img {
        height: 140px;    
    }
    
    .activity_4 img {
        height: 140px;    
    }
    
    .activity_5_et_6 {
        height: 140px;    
    }

    #footer {
       display: flex;
       flex-direction: column;
       padding-bottom: 10px;
       width: 100%;
    }
    
   .footer {
       padding-left: 20px;
   }

   .footer a {
       padding: 5px;
   }
}
@media screen and (min-width: 769px) and (max-width: 1299px){

    body {
        width: 100%;
    }
     #container {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       padding: 0;
    }

    #search_filters {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    #hostings {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #most_popular {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        order: -1;
        margin-bottom: 20px;
    }
    #activities_block {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }  
}
@media screen and (min-width: 1300px) and (max-width: 1599px) {
    body {
        width: 100%;
    }
    #header {
        margin:auto;
    }

    #hostings {
        margin-right: 15px;
    }
    
    #main_container {
        max-width: 1600px;
        margin: auto;
    }

    #most_popular_block {
        margin: auto;
    }

    #hosting_block {
        margin: 10px;
    }

    #activities_block {
        width: 100%;
    }
    #activities_block figure {
         margin: 13px 10px;
    }

    .activities_title {
        padding-left: 50px;
    }

    #footer {
        max-width: 1600px;
        margin:auto;
        margin-top: 20px;
    }
}
@media screen and (min-width: 1600px) {
    body {
        body: 100%;
        margin: auto;
        overflow-x: hidden;
    }

    #header {
        width: 1600px;
        margin:auto;
    }

    #main_container {
        width: 1600px;
        margin: auto;
    }

    .activities_title {
        padding-left: 50px;
    }

    footer {
        width: 1600px;
        margin:auto;
    }
}    
       
     