/*Définition des polices personnalisées*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/*Style principaux de la page*/

#bloc_page {

    width: 80%;
    margin: auto;

}

body {

    font-family: Raleway, sans-serif; 

}

a {

    color: inherit;
    text-decoration: none;

}
 
h1, h2 {

    font-size: 24px;

}

#logo {

    display: flex;
    flex-direction: row;
    align-items: baseline;

}
#logo img {

    width: 100px;
    height: 45px;
    margin-bottom: 30px;

}

/*Navigation*/

#header {

    display: flex;
    justify-content: space-between;

}

nav ul {

    list-style-type: none;
    display: flex;

}

nav li {

    margin-right: 50px;

}

nav a:hover {

    color: #0065FC;
    

}


.singup {

    font-weight: bold;
    color: #0065FC;
    text-decoration: none;

}

/*Barre de recherche*/


.search_form {

   display: inline-flex;
   max-width: 100%;
   overflow: auto;

}

.search_icon {

    background-color: #F2F2F2;
    padding: 16px 20px;
    border-radius: 16px 0 0 16px;
    text-align: center;

}

.search_form_button {

    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 16px 16px 0;
    padding: 0 24px;
    font-family: "Raleway", "Sans serif";
    font-size: 16px;
    cursor: pointer;
    
}

input {

    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 24px;
    box-sizing: border-box;
    width: 220px;
    font-size: 16px;
    font-weight: bold;
    font-family: Raleway, "Sans serif";
}


/*Filtres de recherches*/ 

#search_filters {

    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;

}

.search_filters_title {

    display: flex;
    align-items: center;
    margin: 0 32px 16px 0;

}

.search_filter {

    display: flex;
    align-items: center;
    margin-right: 32px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    margin-bottom: 16px;
    padding-right: 20px;
    cursor: pointer;
    font-weight: bold;
    

}

.search_filter:hover {

    background-color:#0065FC;
    color: white;
    transition-duration: 500ms;
    
  }

  .search_filter_icon {

    display: flex;
    color: #0065FC;  
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    min-height: 56px;
    min-width: 56px;
    align-items: center;
    justify-content: center;
    margin: -2px;
  }

/*Information*/

#information {

    display: flex;
    align-items: center;

  }
  
.info_icon {

  color: #0065FC;  
  height: 32px;
  width: 32px;
  min-height: 32px;
  min-width: 32px;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  
}

/*Hostings*/

#hosting, #most_popular {

  background-color: #F2F2F2;
  border-radius: 24px;
  padding: 32px;

}

.hosting {

    display: flex;
    flex-wrap: wrap;

}

.hosting_block {

    display: flex;
    align-items: flex-start;

}

.hosting_card {

  background-color: white;
  padding: 6px;
  border-radius: 20px;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;

}

.hosting_card_choice {

    margin: 0;

}
.hosting_card_choice_img {

  height: 112px;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 16px 16px 0 0;

}


/*Most Popular hostings*/

.most_popular {

  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.most_popular_title {

    display: flex;
    justify-content: space-between;

}

.most_popular_card {

    height: 140px;

}

.most_popular_card_link {

  display: flex;
  align-items: stretch;
  height: 100%;
  overflow: auto;
  background-color: white;
  border-radius: 20px;

}

.most_popular_choice {

  position: relative;
  min-height: 100%;
  width: 33%;
  min-width: 33%;
  max-width: 33%;

}

.most_popular_choice_img {

  border-radius: 16px 0 0 16px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.most_popular_choice_info {

  display: flex;
  flex-direction: column;

}

.most_popular_choice_blank_space {

    flex: 1;

}

/*Activités*/

.activities {

    display: flex;
    flex-direction: row;

}   


.activity_choice {

  box-shadow: 0 0 20px #0000002e;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-duration: 0.1s;

}  

.activity_choice:hover {

    transform: scale(1.01);

}

.activity_choice_img {

    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

    

/*Footer*/

.footer {

    background-color: #F2F2F2;
        
}

.footer_columns {

    display: flex;
    max-width: 100%;
    width: 1440px;
    margin: auto;
    padding: 0 32px;
    box-sizing: border-box;

}

.footer_columns_column {

    width: 30%;
    padding: 32px 32px;

}

.footer_link {

    display: block;
    margin: 16px 0;

}

.footer_link:hover {

    color: #0065FC;

}
 
.footer ul {

    list-style-type: none;

}


